body {
    background-color: white;
}

div.ant-upload {
    width: 100%;
}

.button {
    width: 100%;
    height: 48px;
}

.with-margin {
    margin-bottom: 12px;
}

.ant-form-item {
    margin: 0px !important;
    padding-top: 8px !important;
}

.ant-form-item-no-colon {
    font-size: 16px !important;
}

.ant-input {
    font-size: 16px;
}

.ant-btn {
    height: 42px;
}

.ant-modal-footer {
    display: flex;
    flex-direction: column;

    .ant-btn {
        margin: 6px 0 !important;
        width: 100%;
    }
}

.word-box {
    min-width: 50px;
    padding: 2px;
    height: 72px;
    margin: 0 4px 8px 4px;
    overflow: hidden;
    border: none;
    background-color: #efefe6;
}

.word-box:hover {
    background-color: #c8c8bd !important;
    color: black !important;
}

.word-box:active {
    background-color: darkgray !important;
    color: black !important;
}

.word-box.ant-btn-primary {
    background-color: gray !important;
    color: white !important;
}

.difficulty-draggable {
    margin-bottom: 12px;
}