* {
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
    background-color: #043050;
}

#topCurve {
    position: relative;
    width: 100%;
    height: 20px;
    background: #043050;
    border-radius: 0% 0% 100% 100%;
    color: #003c66;
    box-shadow: 0 0 5px 5px rgba(0,0,0,0.5);
}

#home {
    overflow: hidden;
    background: white;

    ::selection {
        color: white;
        background-color: #003c66
    }

}

#info,
#spotify,
footer {
    font-family: 'Source Sans Pro', Arial, Helvetica, sans-serif;
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-family: 'Source Serif Pro', serif;
    }
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    justify-content: space-around;
    margin: auto;
    padding: 100px 0 150px;
    max-width: 1920px;
}

#info {
    max-width: 520px;
    h1 {
        font-family: 'Source Serif Pro', serif;
        font-weight: bold;
        font-size: 82px;
        margin: 0;
    }
    p {
        line-height: 1.5;
        font-size: 18px;
        color: #555;
        margin-block-start: 8px;
    }
    ul {
        padding: 8px 0;
        height: 50px;
        display: flex;
        justify-content: space-between;
        li {
            transition: all 0.2s cubic-bezier(0.6, 0.15, 0.43, 1.53);
            a {
                font-family: 'Source Serif Pro', serif;
                font-weight: 600;
                line-height: 24px;
                font-size: 22px;
                text-align: center;
                color: #003c66;
                letter-spacing: 0.2px;
            }
        }
        li:hover {
            a {
                color: #003c66;
            }
            transform: translateY(-4px);
            border-bottom: 2px solid #003c66;
        }
    }
}

#profilePic {
    width: 300px;
    border-radius: 100%;
    transition: all 0.3s cubic-bezier(0.59, 0.3, 0, 2.19);
    user-select: none;
    margin-right: 15%;
    box-shadow: 0 0 20px 2px rgba(0,0,0,0.7);
    --hover: #003c66;
}

#profilePic:hover {
    animation: pulse 0.75s;
    box-shadow: 0 0 0 2em rgba(#fff,0);
}

@keyframes pulse {
    0% { box-shadow: 0 0 0 0 var(--hover); }
}

#timeline {
    padding: 60px 0;
    background: rgb(241, 241, 241);
    background-size: cover;
    position: relative;
    min-height: 800px;
    h2 {
        font-family: 'Source Serif Pro', serif;
        text-align: center;
        font-size: 48px;
        margin-bottom: 12px;
    }
}

.timelineBubble {
    --hover: #003c66;
}

footer {
    background-color: #043050;
    width: 100%;
    color: white;
    padding: 10px 200px;
}

@mixin border-outset {
    border-top: 1px solid white;
    border-left: 1px solid white;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
}

@mixin border-inset {
    border-top: 1px solid black;
    border-left: 1px solid black;
    border-right: 1px solid white;
    border-bottom: 1px solid white;
}

@media only screen and (max-width: 960px) {
    header {
        flex-direction: column;
        padding-top: 75px;
    }
    #aside {
        order: 0;
        margin: auto;
        padding-bottom: 25px;
    }
    #info {
        order: 1;
        margin: auto;
        width: 90%;
    }
    footer {
        padding-left: 10%;
    }
}

@media only screen and (max-width: 590px) {
    #info {
        h1 {
            text-align: center;
            font-size: 64px;
        }
    }
}

@media only screen and (max-width: 550px) {
    ul {
        flex-wrap: wrap;
    }
    #info ul li {
        flex-basis: 50%;
        text-align: center;
        margin: 20px 0;
    }
    footer {
        padding-left: 5%;
    }
}

@media only screen and (max-width: 460px) {
    #info {
        h1 {
            font-size: 52px;
        }
    }
}
