* {
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
    background-color: #043050;
}

#topCurve {
    position: relative;
    width: 100%;
    height: 20px;
    background: #043050;
    border-radius: 0% 0% 100% 100%;
    color: #003c66;
    box-shadow: 0 0 0 5px rgba(0,0,0,.15);
}

#home {
    overflow: hidden;
    background: white;

    ::selection {
        color: white;
        background-color: #003c66
    }

}

#info,
#spotify,
footer {
    font-family: 'Source Sans Pro', Arial, Helvetica, sans-serif;
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-family: 'Source Serif Pro', serif;
    }
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    justify-content: space-around;
    margin: 100px 0 150px;
}

#info {
    max-width: 520px;
    h1 {
        font-family: 'Source Serif Pro', serif;
        font-weight: bold;
        font-size: 82px;
        margin: 0;
    }
    p {
        line-height: 1.5;
        font-size: 18px;
        color: #555;
        margin-block-start: 8px;
    }
    ul {
        padding: 8px 0;
        height: 50px;
        display: flex;
        justify-content: space-between;
        li {
            transition: all 0.2s cubic-bezier(0.6, 0.15, 0.43, 1.53);
            a {
                font-family: 'Source Serif Pro', serif;
                font-weight: 600;
                line-height: 24px;
                font-size: 22px;
                text-align: center;
                color: #003c66;
                letter-spacing: 0.2px;
            }
        }
        li:hover {
            a {
                color: #003c66;
            }
            transform: translateY(-4px);
            border-bottom: 2px solid #003c66;
        }
    }
}

#profilePic {
    width: 300px;
    border-radius: 100%;
    transition: all 0.3s cubic-bezier(0.59, 0.3, 0, 2.19);
    user-select: none;
    margin-right: 15%;
    --hover: #003c66;
}

#profilePic:hover {
    animation: pulse 0.75s;
    box-shadow: 0 0 0 2em rgba(#fff,0);
}

@keyframes pulse {
    0% { box-shadow: 0 0 0 0 var(--hover); }
}

#spotify {
    padding: 60px 0;
    background: linear-gradient(rgba(0, 0, 0, 0.85), rgba(0, 0, 0, 0.85)), url('/albumart.jpg');
    background-size: cover;
    color: white;
    width: 110%;
    left: -5%;
    position: relative;
    min-height: 800px;
    overflow: hidden;
    .spotifyHeader
    {
        padding: 0 12%;
        margin-bottom: 20px;
    }
    h2 {
        font-size: 48px;
        margin-bottom: -5px;
        text-shadow: 0 0 5px black;
    }
    .spotifyText {
        font-size: 48px;
        color: '#1DB954';
        text-decoration: 'underline';
    }
    p {
        font-size: 28px;
        margin-top: 10px;
        text-shadow: 0 0 5px black;
        color: #ddd;
    }
    .artistClass {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        padding-left: 170px;
        padding-right: 0px;
        a{
            font-size: 18px;
        }
    }
    .artistContainer {
        float: left;
        text-align: center;
    }
    .artist {
        justify-self: center;
        padding: 0px 0;
        text-align: center;
        img {
            width: 100px;
            height: 100px;
            border-radius: 100%;
            display: block;
            object-fit: cover;
            margin: 24px;
            margin-top: 32px;
            margin-bottom: 12px;
            transition: all 0.2s cubic-bezier(0.6, 0.15, 0.43, 1.53);
            box-shadow: 0 0 20px 2px black;
            user-select: none;
            --hover: #adadad;
        }
        img:hover {
            animation: pulse 0.5s;
            box-shadow: 0 0 0 1em rgba(#fff,0);
        }

    }
    a {
        color: #eae9f0;
        font-size: 22px;
        text-shadow: 0 0 5px black;
    }
    .playlist {
        display: block;
        margin: auto;
        margin-right: 200px;
        margin-top: 48px;
        border-radius: 2%;
        border-width: 0;
        box-shadow: 0 0 20px 2px black;
    }
}

#timeline {
    padding: 60px 0;
    background: rgb(241, 241, 241);
    background-size: cover;
    position: relative;
    min-height: 800px;
    h2 {
        font-family: 'Source Serif Pro', serif;
        text-align: center;
        font-size: 48px;
        margin-bottom: 12px;
    }
}

.timelineBubble {
    --hover: #003c66;
}

footer {
    background-color: #043050;
    width: 100%;
    color: white;
    padding: 10px 200px;
}

@mixin border-outset {
    border-top: 1px solid white;
    border-left: 1px solid white;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
}

@mixin border-inset {
    border-top: 1px solid black;
    border-left: 1px solid black;
    border-right: 1px solid white;
    border-bottom: 1px solid white;
}

@media only screen and (max-width: 1400px) {
    #spotify {
        .artistClass {
            grid-template-columns: repeat(4, 1fr);
        }
    }
}

@media only screen and (max-width: 1290px) {
    #spotify {
        .playlist {
            margin-right: 170px;
        }
        .artistClass{
            padding-left: 120px;
        }
    }
}

@media only screen and (max-width: 1200px) {
    #spotify {
        .artistClass {
            padding-left: 120px;
        }
        .artist {
            img {
                width: 75px;
                height: 75px;
            }
            a {
                font-size: 16px;
            }
        }
        .playlist {
            margin-right: 150px;
        }
    }
}

@media only screen and (max-width: 1090px) {
    #spotify {
        .playlist {
            width: 300px;
        }
    }
}

@media only screen and (max-width: 1025px) {
    #spotify {
        .artistClass {
            padding-left: 80px;
        }
        .playlist {
            margin-right: 120px;
        }
    }
}

@media only screen and (max-width: 960px) {
    header {
        flex-direction: column;
        margin-top: 40px;
    }
    #aside {
        order: 0;
        margin: auto;
        padding-bottom: 25px;
    }
    #info {
        order: 1;
        margin: auto;
        width: 90%;
    }
    footer {
        padding-left: 10%;
    }
    #spotify {
        .artistContainer {
            float: none;
            padding: 0 10%;
        }
        .artistClass {
            padding: 0 0;
            grid-template-columns: repeat(5, 1fr);
        }
        .artist {
            img {
                margin: 0 auto 10px;
                margin-top: 24px;
            }
        }
        .playlist {
            margin: auto;
            margin-top: 50px;
            height: 500px;
            width: 350px;
        }
    }
}

@media only screen and (max-width: 775px) {
    #spotify {
        .artistClass {
            grid-template-columns: repeat(4, 1fr);
        }
    }
}

@media only screen and (max-width: 590px) {
    #info {
        h1 {
            text-align: center;
            font-size: 64px;
        }
    }
}

@media only screen and (max-width: 550px) {
    ul {
        flex-wrap: wrap;
    }
    #info ul li {
        flex-basis: 50%;
        text-align: center;
        margin: 20px 0;
    }
    #spotify {
        .artist {
            img {
                width: 75px;
                height: 75px;
            }
        }
        .spotifyHeader {
            padding: 0 12%;
        }
        h2 {
            font-size: 32px;
        }
        .spotifyText {
            font-size: 32px;
        }
        p {
            font-size: 14px;
        }
        .artistClass{
            grid-template-columns: repeat(3, 1fr);
            padding: 0 0%;
        }
    }

    footer {
        padding-left: 5%;
    }
}

@media only screen and (max-width: 460px) {
    #info {
        h1 {
            font-size: 52px;
        }
    }
}
